$breakpoints: (
    sm: 480px, 
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1536px
);

@mixin respond($breakpoint) {
    @media(max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
