@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
  color: $color-text-primary;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 64px;
}
a {
    text-decoration: none;
    color: currentColor;
}

p {
  font-size: 1rem;
}

input {
  border: none;
}

button {
  color: currentColor;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}