//Основные цвета 
$color-primary: #002452;
$color-background: #ffffff;
$color-secondary: #E5E5E5;
$color-text-primary: #0A2D59;
$color-text-secondary: #ffffff;
$color-button: #002452;

//Остальные переменные
$border-radius: 20px;
$border-radius-secondary: 40px;
$shadow-default: 0 0px 10px rgba(0, 0, 0, 0.25);
