//Основные цвета
$color-primary: #002452;
$color-background: #fafafa;
$color-white-background: #fff;
$color-secondary: #e5e5e5;
$color-text-primary: #0a2d59;
$color-text-secondary: #ffffff;
$color-button: #002452;

//Остальные переменные
$border-radius: 20px;
$border-radius-secondary: 40px;
$shadow-default: 0 0px 10px rgba(0, 0, 0, 0.25);
