@import '../../assets/styles/variables';
@import '../../assets/styles/breakpoints';
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: $color-white-background;
  border-radius: $border-radius-secondary;
  padding: 32px;
  position: relative;
  min-width: 300px;
  width: 50%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;

  align-items: center;

  &__title {
    margin-bottom: 20px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;

    &:disabled {
      background: #f5f5f5;
      cursor: not-allowed;
    }
  }

  &__exit-buttons-group {
    display: flex;
    gap: 20px;
  }
  &__button {
    background-color: $color-button;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: lighten($color-primary, 12%);
    }

    &--gray {
      background-color: #ccc;
      color: #000;

      &:hover {
        background-color: lighten(#ccc, 12%);
      }
    }
    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }

  &__error {
    width: 100%;
    background: #ffe6e6;
    color: #d32f2f;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-close {
      background-color: transparent;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    gap: 10px;

    @include respond(sm) {
      font-size: 13px;
    }

    button {
      border-radius: 4px;
    }
  }

  &__hint {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
