@import '../../assets/styles/variables.scss';
@import '../../assets//styles/breakpoints';

.home-page {
    min-height: 100vh;

    
    &__content {
        width: 100%;
    }
        
    &__search-section {
        width: 100%;
        height: calc(100vh - 60px);
        background: url('/homePage/hero_image.png');
        background-size: cover;
        background-position: center bottom;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 60px;
            left: 0;
            width: 100%;
            height: calc(100vh - 60px);
            //background-color: rgba(#002452, 0.2);
            background-color: rgba(#00152e, 0.4);
        }
    }

    &__search-container    {
        position: relative;
        margin-top: 140px;
        z-index: 1;
        width: 70%;
        max-width: 1440px;
    }
    
    &__search-text {
        margin-left: 60px;
        margin-bottom: 10px;
        display: flex;
        gap: 20px;
        color: $color-text-secondary;

        @include respond(lg) {
            margin-left: 40px;
        }

        @include respond(md) {
            gap: 10px;
            flex-direction: column;
        }

        @include respond(sm) {
            margin-left: 20px;
        }
    }

    &__search-title {
        line-height: 1;
        margin: 0;
        font-size: 42px;
    }


    &__search-tabs {
        display: flex;
        font-size: 18px;
        gap: 20px;
        align-items: start;

        @include respond(lg) {
            gap: 10px;
        }
    }
    
    &__search-tab {
        background-color: transparent;
        position: relative;
    
        &--active {
            &::after {
                content: '';
                position: absolute;
                top: 26px;
                left: 0px;
                width: 60%;
                height: 4px;
                border-radius: $border-radius;
                background-color: $color-primary;
            }
        }
    }

    
}