@import '../../assets/styles/variables.scss';
@import '../../assets//styles/breakpoints';

.home-page {
  min-height: 100vh;

  &__search-section {
    position: relative;
    margin-left: -60px;
    margin-right: -60px;
    height: calc(100vh - 60px);

    background: url('/homePage/hero_image.png') center bottom / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(#00152e, 0.4);
    }

    @include respond(md) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__search-container {
    position: relative;
    margin-top: 140px;
    max-width: 1440px;

    z-index: 1;
    width: 70%;

    @include respond(sm) {
      margin-top: 20px;
    }
  }

  &__search-text {
    margin-left: 60px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    color: $color-text-secondary;

    @include respond(lg) {
      margin-left: 40px;
    }

    @include respond(md) {
      gap: 10px;
      flex-direction: column;
    }

    @include respond(sm) {
      margin-left: 20px;
    }
  }

  &__search-title {
    line-height: 1;
    margin: 0;
    font-size: 42px;
  }

  &__search-tabs {
    display: flex;
    font-size: 18px;
    gap: 20px;
    align-items: start;

    @include respond(lg) {
      gap: 10px;
    }

    @include respond(sm) {
      gap: 5px;
      font-size: 14px;
    }
  }

  &__search-tab {
    background-color: transparent;
    position: relative;

    &--active {
      &::after {
        content: '';
        position: absolute;
        top: 26px;
        left: 0px;
        width: 60%;
        height: 4px;
        border-radius: $border-radius;
        background-color: $color-primary;

        @include respond(sm) {
          top: 22px;
          height: 3px;
        }
      }
    }
  }
}

.section-title {
  font-size: 3rem;
  margin-block: 40px;
  position: relative;
  display: inline-block;
  &::after {
    content: '';
    border-radius: $border-radius;
    position: absolute;
    width: 60%;
    left: 0;
    top: 100%;
    height: 5px;
    background-color: $color-primary;
  }
}

.main-content {
  width: 100%;
  padding-inline: 60px;
  @include respond(md) {
    padding-inline: 20px;
  }
}
