@import '../../assets/styles/variables';
@import '../../assets//styles//breakpoints';

.hotel-card {
    width: 100%;
    background-color: $color-background;
    border-radius: $border-radius;
    box-shadow: $shadow-default;
    color: black;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;

    &--mobile {
        @include respond(sm) {
            flex-direction: column;
            width: 100%;
        }
    }

    img {
        width: 40%;
        border-radius: $border-radius;

        @include respond(sm) {
            width: 100%;
        }
    }

    &__desrciption {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        
        h1 {
            margin: 0;
            font-size: 2rem;

            @include respond(lg) {
                font-size: 1.5rem;
            }

            @include respond(md) {
                font-size: 1.2rem;
            }

            
        }

        h2 {
            font-size: 1rem;
            margin-top: 10px;

            @include respond(lg) {
                font-size: 0.9rem;
            }


            
        }

        p {
            @include respond(lg) {
                font-size: 0.8rem;
            }

            @include respond(sm) {
                font-size: 0.9rem;
            }
        }
        
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                width: 25%;
                border-radius: $border-radius;
                background-color: #6B7280;
                color: white;
                padding: 6px;
                @include respond(lg) {
                    width: 40%;
                    font-size: 0.9rem;
                }

                @include respond(lg) {
                    width: 50%;
                    font-size: 0.9rem;
                }
            }
        }
    }

    &__price {
        font-weight: 500;
        font-size: 1.5rem;

        @include respond(lg) {
            font-size: 1.2rem;
        }

        
    }
}