@import '../../assets/styles/variables';

.hotel-card {
    width: 100%;
    background-color: $color-background;
    border-radius: $border-radius;
    box-shadow: $shadow-default;
    color: black;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;

    img {
        width: 40%;
        border-radius: $border-radius;
    }

    &__desrciption {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        
        h1 {
            margin: 0;
            font-size: 2rem;
        }

        h2 {
            font-size: 1rem;
            margin-top: 10px;
        }
        
        &-bottom {
            display: flex;
            justify-content: space-between;

            button {
                width: 30%;
                border-radius: $border-radius;
                background-color: #6B7280;
                color: white;
            }
        }
    }

    &__price {
        font-weight: 500;
        font-size: 1.5rem;
    }
}