@import '../../assets/styles/variables';
@import '../../assets//styles/breakpoints';

.search-form {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
  grid-template-areas: 
    "city checkin checkout guests button";

  align-items: center;
  gap: 20px;

  width: 100%;
  padding: 20px 60px;
  background-color: $color-background;
  border-radius: $border-radius-secondary;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  font-size: 20px;
  font-weight: 500;

    
  &__group {
    position: relative;
    min-height: 50px;
    padding-top: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    
    &:not(:nth-last-child(2)) {
      border-right: 3px solid $color-secondary;
    }
    &-city {
      grid-area: city;
    }
    &-checkin {
      grid-area: checkin;
      min-width: 100px;
    }
    &-checkout {
      grid-area: checkout;
      min-width: 100px;
    }
    &-guests {
      grid-area: guests;
    }
    &__button {
      grid-area: button;
    }

    &:focus-within .search-form__label {
      top: 14px;
    }
    
    @include respond(xl) {
      &:first-child {
        padding-bottom: 5px;
        border-right: none;
        border-bottom: 3px solid $color-secondary;        
      }
    }
    @include respond(md) {
      &:nth-child(3) {
        border-right: none;
      }
    }
    @include respond(sm) {
      &:nth-child(2) {
        padding-bottom: 5px;
        border-bottom: 3px solid $color-secondary; 
        border-right: none; 
      }
      &:nth-child(3) {
        padding-bottom: 5px;
        border-bottom: 3px solid $color-secondary; 
      }
    }
  }
    
  &__label {
    position: absolute;
    top: 20px;
    transform: translateY(-50%);
    left: 0;
    transition: all 0.2s ease;
  }

  &__input {
    margin-top: 10px;
    width: 100%;
    margin-left: -3px;
    padding-right: 5px;

    padding-block: 6px;
    border: 1px solid transparent;
    border-radius: 18px;
    background-color: #fff;
    font-size: 18px;
    transition: all 0.2s ease;

    &:focus {
        padding-inline: 10px;
        outline: none;
        border-color: $color-primary;
    }
  }

  
  

  &__decoration-line {
    background-color: #C2C6CC;
    width: 2px;
    height: 80%;
    border-radius: $border-radius;
  }

  &__button {
    width: 100%;
    color: $color-text-secondary;
    border: none;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;

    &:hover {
      background-color: darken($color-primary, 5%);
      transform: translateY(-1px);
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 3px green;
    }
  }

  @include respond(xl) {
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-areas: 
      "city city city city"
      "checkin checkout guests button";
    
  }

  @include respond(lg) {
    padding-inline: 40px;
  }

  @include respond(md) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "city city"
      "checkin checkout"
      "guests button";
  }

  @include respond(sm) {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "city"
      "checkin"
      "checkout"
      "guests"
      "button";
    padding-inline: 20px;
  }
}



