@import '../../assets/styles/variables';

.favorite-button-wrapper {
  position: relative;
  display: inline-block;
}

.favorite-button {
  background-color: $color-background;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 8px;

  &:hover {
    svg path {
      fill-rule: nonzero;
    }
  }
}
