@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoints';


.contacts-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
}

.contacts-section {
  display: flex;
  justify-content: center;
  gap: 7rem;

  @include respond(md) {
    flex-wrap: wrap;
    gap: 3rem;
  }

  @include respond(sm) {
    flex-direction: column;
    gap: 2rem;
  }
}

.contacts-section p {
  margin: 3px;
}


.Yakov, .Petr, .Alex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: justify;
}

.Yakov-img, .Petr-img, .Alex-img {
  border-radius: 20px;
  height: 400px;
  width: 300px;
  object-fit: cover;
}


@include respond(xl) {
  .Yakov, .Petr, .Alex {
    width: 260px;
  }
  .Yakov-img, .Petr-img, .Alex-img {
    width: 260px;
    height: 350px;
  }
}


@include respond(lg) {
  .Yakov, .Petr, .Alex {
    width: 230px;
  }
  .Yakov-img, .Petr-img, .Alex-img {
    width: 230px;
    height: 300px;
  }
}


@include respond(md) {
  .Yakov, .Petr, .Alex {
    width: 200px;
  }
  .Yakov-img, .Petr-img, .Alex-img {
    width: 200px;
    height: 260px;
  }
}


@include respond(sm) {
  .Yakov, .Petr, .Alex {
    width: 180px;
  }
  .Yakov-img, .Petr-img, .Alex-img {
    width: 180px;
    height: 220px;
  }
}


.text-section {
  text-align: justify;
  width: 1150px;

  @include respond(xl) {
    width: 900px;
  }

  @include respond(lg) {
    width: 700px;
  }

  @include respond(md) {
    width: 90%;
  }

  @include respond(sm) {
    width: 92%;
    font-size: 14px;
  }
}