@import '../../assets/styles/variables';
@import '../../assets//styles//breakpoints';

.nav {
    padding-inline: 60px;
    width: 100%;
    height: 60px;
    background-color: $color_background;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        max-width: 1440px;
    }


    &-logo {
        flex: 3;
    }
    &-menu {
        flex: 4;
        display: flex;
        justify-content: space-between;
        
        @include respond(lg) {
            flex: 6;
        }

        @include respond(md) {
            display: none;
        }
    }
    &-btn {
        flex: 3;
        display: flex;
        justify-content: end;
        font-size: 16px;

        &-item {
            width: 100px;
            height: 40px;
        }
    }
    .burger-menu  {
        width: 50px;
        background-color: transparent;
    }
    .burger-menu--active {
        display: block;
    }
}