@import '../../assets/styles/variables';
@import '../../assets//styles//breakpoints';

.header {
  padding-inline: 60px;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: $color-white-background;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  box-shadow: $shadow-default;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1440px;
  }

  &__logo {
    flex: 3;

    &-img {
      width: 55px;
    }
  }

  &__actions {
    flex: 3;
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;

    @include respond(md) {
      flex: 10;
    }
  }

  &__user-btn {
    border-radius: 6px;
    transition: all 0.6s ease;

    &--active {
      background-color: $color-primary;
      color: $color-text-secondary;
    }
  }

  &__signin-btn {
    background-color: $color-primary;
    border-radius: $border-radius-secondary;
    color: $color-text-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;

    &:hover {
      background-color: lighten($color-primary, 8%);
    }
  }

  &__open-menu-btn {
    display: none;
    background-color: transparent;
    border-radius: 5px;

    &:active {
      background-color: $color-primary;
    }
    @include respond(md) {
      display: block;
    }
  }

  &__open-menu-icon {
    width: 40px;
  }

  @include respond(md) {
    padding-inline: 20px;
  }
}

.navbar {
  flex: 4;

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  @include respond(lg) {
    flex: 6;
  }

  @include respond(md) {
    display: none;
  }

  &--vertical {
    display: block;

    @include respond(md) {
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: $color-white-background;
      z-index: 2;
      padding: 20px 30px;
      border-radius: $border-radius;
      box-shadow: $shadow-default;

      .navbar__menu {
        flex-direction: column;
        gap: 10px;
      }

      .navbar__item {
        padding: 5px 20px;
        border-radius: 10px;
        &:hover {
          background-color: $color-secondary;
        }
      }
    }

    @include respond(sm) {
      position: fixed;
      top: 80px;
      left: 10px;
      right: 10px;
    }
  }
}

.user-menu {
  display: block;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: $color-white-background;
  z-index: 2;
  padding: 14px 20px;
  border-radius: $border-radius;
  box-shadow: $shadow-default;

  .user-menu__item {
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
      background-color: $color-secondary;
    }
  }
}
