@import '../../assets/styles/variables';

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid $color-background;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
